header {
	display:flex;
	align-items: center;
	font-family: Verdana;
	font-size: 14px;
  	font-weight: bold;
	border-bottom: solid black 1px;
}

a {
	color: black;
}

.logo span {
    color: MediumAquamarine;
}

.logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
	padding-left: 30px;
}

header nav {
    padding-right: 40px;
}

nav span {
    display: inline-block;
    padding: 20px 10px;
}

.column {
	border: 3px solid black;
	
}

.left {
}

.left .top h2 {
	border-bottom: 1px solid black;
}

.left .middle {
	border: 1px solid black;
}

.left .middle h3 {
	border-top: 1px solid black;
}

.left .bottom{
	border: 1px solid black;
}

.left .bottom h3{
	border-top: 1px solid black;
}

.middle {
	
}

.middle .top {
	border: 2px solid black;
}

.middle .middle {
	border: 2px solid black;
}

.middle .middle h2{
	border-bottom: 1px solid black;
}

.right  .top {
	border: 1px solid black;
}

.right  .middle {
	border: 1px solid black;
}