header {
	display:flex;
	align-items: center;
	font-family: Verdana;
	font-size: 14px;
  	font-weight: bold;
	border-bottom: solid black 1px;
}

a {
	color: black;
}

.logo span {
    color: MediumAquamarine;
}

.logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
	padding-left: 30px;
}

header nav {
    padding-right: 40px;
}

nav span {
    display: inline-block;
    padding: 20px 10px;
}

.column {
	display: flex;
	width: 1300px;
	padding: 30px 0px 0 0;
	margin-left: 250px;
	margin-right: 250px;
	 font-family: Georgia;
  font-size: 17px;
  color: black;
}

.left {
	margin-right: 70px;
	width: 630px;
	display: flex;
	flex-wrap: wrap;
}

.left .top {
	width: 630px;
}

.left .middle {
  width: 310px;
}

.left .bottom {
   width: 310px;

}

.left .earth {
	
}

.last-two{
	display: flex;
	padding-bottom: 50px;
}

.middle {
	margin-right: 50px;
	width: 300px;
	
}

.middle .top {
	
	width: 300px;
}

.middle .middle {
	
	width: 300px;
}

.middle .middle h3{
	
}

.right {
	
	width: 200px;
	
}

.right  .top {
	width: 200px;
	
}

.right  .middle {
	
	width: 200px;
}

.left .main {
	background-image: url(../Images/img-story-main.png);
	font-family: Georgia;
  	font-weight: bold;
 	 font-size: 35px;
 	 color: white;
	display: flex;
	height: 300px;
	text-align: left;
	justify-content: flex-start;
}

.left .main h3{
	margin-top: -2px;
}

.left .earth {
	background-image: url(../Images/img-story-2.png);
	font-family: Georgia;
   	font-weight: bold;
  	font-size: 30px;
  	color: white;
	height: 300px;
	justify-content: center;
	text-align: center;
}

.left .earth h4 {
	margin-top: -2px;
}

.left .research {
	background-image: url(../Images/img-story-3.png);
	font-family: Georgia;
 	font-weight: bold;
  	font-size: 30px;
  	color: white;
	height: 300px;
	justify-content: center;
	text-align: center;
}

.left .research h4 {
	margin-top: -2px;
}

.middle .cats{
	background-image: url(../Images/img-story-1.png);
	display: flex;
	font-family: Georgia;
 	font-weight: bold;
  	font-size: 30px;
  	color: white;
	height: 300px;
	justify-content: center;
	text-align: center;
}

.middle .cats h3 {
	margin-top: -2px;
}